/*! 
 * GENUINE GRID 
 * A lightweight, responsive grid system for projects of all size
 *
 * Created by: Matt Litzinger
 * Last updated: May 2015
 *
 */
.grid {
  margin-left: -1.5rem;
  font-size: 0; }

.grid [class^="grid-item"] {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  box-sizing: border-box;
  font-size: 1rem; }

.grid-item-1-1,
.grid-item-2-2,
.grid-item-3-3,
.grid-item-4-4,
.grid-item-5-5,
.grid-item-6-6,
.grid-item-7-7,
.grid-item-8-8,
.grid-item-9-9,
.grid-item-10-10,
.grid-item-11-11,
.grid-item-12-12 {
  width: 100% !important; }

.grid-item-1-2,
.grid-item-2-4,
.grid-item-3-6,
.grid-item-4-8,
.grid-item-5-10,
.grid-item-6-12 {
  width: 50% !important; }

.grid-item-1-3,
.grid-item-2-6,
.grid-item-3-9,
.grid-item-4-12 {
  width: 33.33333% !important; }

.grid-item-1-4,
.grid-item-2-8,
.grid-item-3-12 {
  width: 25% !important; }

.grid-item-1-5,
.grid-item-2-10 {
  width: 20% !important; }

.grid-item-1-6,
.grid-item-2-12 {
  width: 16.66667% !important; }

.grid-item-2-3,
.grid-item-4-6 {
  width: 66.66667% !important; }

.grid-item-3-4,
.grid-item-6-8 {
  width: 75% !important; }

.grid-item-2-5 {
  width: 40% !important; }

.grid-item-3-5 {
  width: 60% !important; }

.grid-item-4-5 {
  width: 80% !important; }

.grid-item-5-6 {
  width: 83.33333% !important; }

.grid-item-1-7 {
  width: 14.28571% !important; }

.grid-item-2-7 {
  width: 28.57143% !important; }

.grid-item-3-7 {
  width: 42.85714% !important; }

.grid-item-4-7 {
  width: 57.14286% !important; }

.grid-item-5-7 {
  width: 71.42857% !important; }

.grid-item-6-7 {
  width: 85.71429% !important; }

.grid-item-1-8 {
  width: 12.5% !important; }

.grid-item-3-8 {
  width: 37.5% !important; }

.grid-item-5-8 {
  width: 62.5% !important; }

.grid-item-7-8 {
  width: 87.5% !important; }

.grid-item-1-9 {
  width: 11.11111% !important; }

.grid-item-2-9 {
  width: 22.22222% !important; }

.grid-item-4-9 {
  width: 44.44444% !important; }

.grid-item-5-9 {
  width: 55.55556% !important; }

.grid-item-6-9 {
  width: 66.66667% !important; }

.grid-item-7-9 {
  width: 77.77778% !important; }

.grid-item-8-9 {
  width: 88.88889% !important; }

.grid-item-1-10 {
  width: 10% !important; }

.grid-item-3-10 {
  width: 30% !important; }

.grid-item-4-10 {
  width: 40% !important; }

.grid-item-6-10 {
  width: 60% !important; }

.grid-item-7-10 {
  width: 70% !important; }

.grid-item-8-10 {
  width: 80% !important; }

.grid-item-9-10 {
  width: 90% !important; }

.grid-item-1-11 {
  width: 9.09091% !important; }

.grid-item-2-11 {
  width: 18.18182% !important; }

.grid-item-3-11 {
  width: 27.27273% !important; }

.grid-item-4-11 {
  width: 36.36364% !important; }

.grid-item-5-11 {
  width: 45.45455% !important; }

.grid-item-6-11 {
  width: 54.54545% !important; }

.grid-item-7-11 {
  width: 63.63636% !important; }

.grid-item-8-11 {
  width: 72.72727% !important; }

.grid-item-9-11 {
  width: 81.81818% !important; }

.grid-item-10-11 {
  width: 90.90909% !important; }

.grid-item-1-12 {
  width: 8.33333% !important; }

.grid-item-5-12 {
  width: 41.66667% !important; }

.grid-item-7-12 {
  width: 58.33333% !important; }

.grid-item-8-12 {
  width: 66.66667% !important; }

.grid-item-9-12 {
  width: 75% !important; }

.grid-item-10-12 {
  width: 83.33333% !important; }

.grid-item-11-12 {
  width: 91.66667% !important; }

@media screen and (max-width: 720px) {
  .grid-item-sm-1-1,
  .grid-item-sm-2-2,
  .grid-item-sm-3-3,
  .grid-item-sm-4-4,
  .grid-item-sm-5-5,
  .grid-item-sm-6-6,
  .grid-item-sm-7-7,
  .grid-item-sm-8-8,
  .grid-item-sm-9-9,
  .grid-item-sm-10-10,
  .grid-item-sm-11-11,
  .grid-item-sm-12-12 {
    width: 100% !important; }

  .grid-item-sm-1-2,
  .grid-item-sm-2-4,
  .grid-item-sm-3-6,
  .grid-item-sm-4-8,
  .grid-item-sm-5-10,
  .grid-item-sm-6-12 {
    width: 50% !important; }

  .grid-item-sm-1-3,
  .grid-item-sm-2-6,
  .grid-item-sm-3-9,
  .grid-item-sm-4-12 {
    width: 33.33333% !important; }

  .grid-item-sm-1-4,
  .grid-item-sm-2-8,
  .grid-item-sm-3-12 {
    width: 25% !important; }

  .grid-item-sm-1-5,
  .grid-item-sm-2-10 {
    width: 20% !important; }

  .grid-item-sm-1-6,
  .grid-item-sm-2-12 {
    width: 16.66667% !important; }

  .grid-item-sm-2-3,
  .grid-item-sm-4-6 {
    width: 66.66667% !important; }

  .grid-item-sm-3-4,
  .grid-item-sm-6-8 {
    width: 75% !important; }

  .grid-item-sm-2-5 {
    width: 40% !important; }

  .grid-item-sm-3-5 {
    width: 60% !important; }

  .grid-item-sm-4-5 {
    width: 80% !important; }

  .grid-item-sm-5-6 {
    width: 83.33333% !important; }

  .grid-item-sm-1-7 {
    width: 14.28571% !important; }

  .grid-item-sm-2-7 {
    width: 28.57143% !important; }

  .grid-item-sm-3-7 {
    width: 42.85714% !important; }

  .grid-item-sm-4-7 {
    width: 57.14286% !important; }

  .grid-item-sm-5-7 {
    width: 71.42857% !important; }

  .grid-item-sm-6-7 {
    width: 85.71429% !important; }

  .grid-item-sm-1-8 {
    width: 12.5% !important; }

  .grid-item-sm-3-8 {
    width: 37.5% !important; }

  .grid-item-sm-5-8 {
    width: 62.5% !important; }

  .grid-item-sm-7-8 {
    width: 87.5% !important; }

  .grid-item-sm-1-9 {
    width: 11.11111% !important; }

  .grid-item-sm-2-9 {
    width: 22.22222% !important; }

  .grid-item-sm-4-9 {
    width: 44.44444% !important; }

  .grid-item-sm-5-9 {
    width: 55.55556% !important; }

  .grid-item-sm-6-9 {
    width: 66.66667% !important; }

  .grid-item-sm-7-9 {
    width: 77.77778% !important; }

  .grid-item-sm-8-9 {
    width: 88.88889% !important; }

  .grid-item-sm-1-10 {
    width: 10% !important; }

  .grid-item-sm-3-10 {
    width: 30% !important; }

  .grid-item-sm-4-10 {
    width: 40% !important; }

  .grid-item-sm-6-10 {
    width: 60% !important; }

  .grid-item-sm-7-10 {
    width: 70% !important; }

  .grid-item-sm-8-10 {
    width: 80% !important; }

  .grid-item-sm-9-10 {
    width: 90% !important; }

  .grid-item-sm-1-11 {
    width: 9.09091% !important; }

  .grid-item-sm-2-11 {
    width: 18.18182% !important; }

  .grid-item-sm-3-11 {
    width: 27.27273% !important; }

  .grid-item-sm-4-11 {
    width: 36.36364% !important; }

  .grid-item-sm-5-11 {
    width: 45.45455% !important; }

  .grid-item-sm-6-11 {
    width: 54.54545% !important; }

  .grid-item-sm-7-11 {
    width: 63.63636% !important; }

  .grid-item-sm-8-11 {
    width: 72.72727% !important; }

  .grid-item-sm-9-11 {
    width: 81.81818% !important; }

  .grid-item-sm-10-11 {
    width: 90.90909% !important; }

  .grid-item-sm-1-12 {
    width: 8.33333% !important; }

  .grid-item-sm-5-12 {
    width: 41.66667% !important; }

  .grid-item-sm-7-12 {
    width: 58.33333% !important; }

  .grid-item-sm-8-12 {
    width: 66.66667% !important; }

  .grid-item-sm-9-12 {
    width: 75% !important; }

  .grid-item-sm-10-12 {
    width: 83.33333% !important; }

  .grid-item-sm-11-12 {
    width: 91.66667% !important; } }
@media screen and (min-width: 721px) and (max-width: 960px) {
  .grid-item-md-1-1,
  .grid-item-md-2-2,
  .grid-item-md-3-3,
  .grid-item-md-4-4,
  .grid-item-md-5-5,
  .grid-item-md-6-6,
  .grid-item-md-7-7,
  .grid-item-md-8-8,
  .grid-item-md-9-9,
  .grid-item-md-10-10,
  .grid-item-md-11-11,
  .grid-item-md-12-12 {
    width: 100% !important; }

  .grid-item-md-1-2,
  .grid-item-md-2-4,
  .grid-item-md-3-6,
  .grid-item-md-4-8,
  .grid-item-md-5-10,
  .grid-item-md-6-12 {
    width: 50% !important; }

  .grid-item-md-1-3,
  .grid-item-md-2-6,
  .grid-item-md-3-9,
  .grid-item-md-4-12 {
    width: 33.33333% !important; }

  .grid-item-md-1-4,
  .grid-item-md-2-8,
  .grid-item-md-3-12 {
    width: 25% !important; }

  .grid-item-md-1-5,
  .grid-item-md-2-10 {
    width: 20% !important; }

  .grid-item-md-1-6,
  .grid-item-md-2-12 {
    width: 16.66667% !important; }

  .grid-item-md-2-3,
  .grid-item-md-4-6 {
    width: 66.66667% !important; }

  .grid-item-md-3-4,
  .grid-item-md-6-8 {
    width: 75% !important; }

  .grid-item-md-2-5 {
    width: 40% !important; }

  .grid-item-md-3-5 {
    width: 60% !important; }

  .grid-item-md-4-5 {
    width: 80% !important; }

  .grid-item-md-5-6 {
    width: 83.33333% !important; }

  .grid-item-md-1-7 {
    width: 14.28571% !important; }

  .grid-item-md-2-7 {
    width: 28.57143% !important; }

  .grid-item-md-3-7 {
    width: 42.85714% !important; }

  .grid-item-md-4-7 {
    width: 57.14286% !important; }

  .grid-item-md-5-7 {
    width: 71.42857% !important; }

  .grid-item-md-6-7 {
    width: 85.71429% !important; }

  .grid-item-md-1-8 {
    width: 12.5% !important; }

  .grid-item-md-3-8 {
    width: 37.5% !important; }

  .grid-item-md-5-8 {
    width: 62.5% !important; }

  .grid-item-md-7-8 {
    width: 87.5% !important; }

  .grid-item-md-1-9 {
    width: 11.11111% !important; }

  .grid-item-md-2-9 {
    width: 22.22222% !important; }

  .grid-item-md-4-9 {
    width: 44.44444% !important; }

  .grid-item-md-5-9 {
    width: 55.55556% !important; }

  .grid-item-md-6-9 {
    width: 66.66667% !important; }

  .grid-item-md-7-9 {
    width: 77.77778% !important; }

  .grid-item-md-8-9 {
    width: 88.88889% !important; }

  .grid-item-md-1-10 {
    width: 10% !important; }

  .grid-item-md-3-10 {
    width: 30% !important; }

  .grid-item-md-4-10 {
    width: 40% !important; }

  .grid-item-md-6-10 {
    width: 60% !important; }

  .grid-item-md-7-10 {
    width: 70% !important; }

  .grid-item-md-8-10 {
    width: 80% !important; }

  .grid-item-md-9-10 {
    width: 90% !important; }

  .grid-item-md-1-11 {
    width: 9.09091% !important; }

  .grid-item-md-2-11 {
    width: 18.18182% !important; }

  .grid-item-md-3-11 {
    width: 27.27273% !important; }

  .grid-item-md-4-11 {
    width: 36.36364% !important; }

  .grid-item-md-5-11 {
    width: 45.45455% !important; }

  .grid-item-md-6-11 {
    width: 54.54545% !important; }

  .grid-item-md-7-11 {
    width: 63.63636% !important; }

  .grid-item-md-8-11 {
    width: 72.72727% !important; }

  .grid-item-md-9-11 {
    width: 81.81818% !important; }

  .grid-item-md-10-11 {
    width: 90.90909% !important; }

  .grid-item-md-1-12 {
    width: 8.33333% !important; }

  .grid-item-md-5-12 {
    width: 41.66667% !important; }

  .grid-item-md-7-12 {
    width: 58.33333% !important; }

  .grid-item-md-8-12 {
    width: 66.66667% !important; }

  .grid-item-md-9-12 {
    width: 75% !important; }

  .grid-item-md-10-12 {
    width: 83.33333% !important; }

  .grid-item-md-11-12 {
    width: 91.66667% !important; } }
@media screen and (min-width: 961px) and (max-width: 1200px) {
  .grid-item-lg-1-1,
  .grid-item-lg-2-2,
  .grid-item-lg-3-3,
  .grid-item-lg-4-4,
  .grid-item-lg-5-5,
  .grid-item-lg-6-6,
  .grid-item-lg-7-7,
  .grid-item-lg-8-8,
  .grid-item-lg-9-9,
  .grid-item-lg-10-10,
  .grid-item-lg-11-11,
  .grid-item-lg-12-12 {
    width: 100% !important; }

  .grid-item-lg-1-2,
  .grid-item-lg-2-4,
  .grid-item-lg-3-6,
  .grid-item-lg-4-8,
  .grid-item-lg-5-10,
  .grid-item-lg-6-12 {
    width: 50% !important; }

  .grid-item-lg-1-3,
  .grid-item-lg-2-6,
  .grid-item-lg-3-9,
  .grid-item-lg-4-12 {
    width: 33.33333% !important; }

  .grid-item-lg-1-4,
  .grid-item-lg-2-8,
  .grid-item-lg-3-12 {
    width: 25% !important; }

  .grid-item-lg-1-5,
  .grid-item-lg-2-10 {
    width: 20% !important; }

  .grid-item-lg-1-6,
  .grid-item-lg-2-12 {
    width: 16.66667% !important; }

  .grid-item-lg-2-3,
  .grid-item-lg-4-6 {
    width: 66.66667% !important; }

  .grid-item-lg-3-4,
  .grid-item-lg-6-8 {
    width: 75% !important; }

  .grid-item-lg-2-5 {
    width: 40% !important; }

  .grid-item-lg-3-5 {
    width: 60% !important; }

  .grid-item-lg-4-5 {
    width: 80% !important; }

  .grid-item-lg-5-6 {
    width: 83.33333% !important; }

  .grid-item-lg-1-7 {
    width: 14.28571% !important; }

  .grid-item-lg-2-7 {
    width: 28.57143% !important; }

  .grid-item-lg-3-7 {
    width: 42.85714% !important; }

  .grid-item-lg-4-7 {
    width: 57.14286% !important; }

  .grid-item-lg-5-7 {
    width: 71.42857% !important; }

  .grid-item-lg-6-7 {
    width: 85.71429% !important; }

  .grid-item-lg-1-8 {
    width: 12.5% !important; }

  .grid-item-lg-3-8 {
    width: 37.5% !important; }

  .grid-item-lg-5-8 {
    width: 62.5% !important; }

  .grid-item-lg-7-8 {
    width: 87.5% !important; }

  .grid-item-lg-1-9 {
    width: 11.11111% !important; }

  .grid-item-lg-2-9 {
    width: 22.22222% !important; }

  .grid-item-lg-4-9 {
    width: 44.44444% !important; }

  .grid-item-lg-5-9 {
    width: 55.55556% !important; }

  .grid-item-lg-6-9 {
    width: 66.66667% !important; }

  .grid-item-lg-7-9 {
    width: 77.77778% !important; }

  .grid-item-lg-8-9 {
    width: 88.88889% !important; }

  .grid-item-lg-1-10 {
    width: 10% !important; }

  .grid-item-lg-3-10 {
    width: 30% !important; }

  .grid-item-lg-4-10 {
    width: 40% !important; }

  .grid-item-lg-6-10 {
    width: 60% !important; }

  .grid-item-lg-7-10 {
    width: 70% !important; }

  .grid-item-lg-8-10 {
    width: 80% !important; }

  .grid-item-lg-9-10 {
    width: 90% !important; }

  .grid-item-lg-1-11 {
    width: 9.09091% !important; }

  .grid-item-lg-2-11 {
    width: 18.18182% !important; }

  .grid-item-lg-3-11 {
    width: 27.27273% !important; }

  .grid-item-lg-4-11 {
    width: 36.36364% !important; }

  .grid-item-lg-5-11 {
    width: 45.45455% !important; }

  .grid-item-lg-6-11 {
    width: 54.54545% !important; }

  .grid-item-lg-7-11 {
    width: 63.63636% !important; }

  .grid-item-lg-8-11 {
    width: 72.72727% !important; }

  .grid-item-lg-9-11 {
    width: 81.81818% !important; }

  .grid-item-lg-10-11 {
    width: 90.90909% !important; }

  .grid-item-lg-1-12 {
    width: 8.33333% !important; }

  .grid-item-lg-5-12 {
    width: 41.66667% !important; }

  .grid-item-lg-7-12 {
    width: 58.33333% !important; }

  .grid-item-lg-8-12 {
    width: 66.66667% !important; }

  .grid-item-lg-9-12 {
    width: 75% !important; }

  .grid-item-lg-10-12 {
    width: 83.33333% !important; }

  .grid-item-lg-11-12 {
    width: 91.66667% !important; } }
@media screen and (min-width: 1201px) {
  .grid-item-xl-1-1,
  .grid-item-xl-2-2,
  .grid-item-xl-3-3,
  .grid-item-xl-4-4,
  .grid-item-xl-5-5,
  .grid-item-xl-6-6,
  .grid-item-xl-7-7,
  .grid-item-xl-8-8,
  .grid-item-xl-9-9,
  .grid-item-xl-10-10,
  .grid-item-xl-11-11,
  .grid-item-xl-12-12 {
    width: 100% !important; }

  .grid-item-xl-1-2,
  .grid-item-xl-2-4,
  .grid-item-xl-3-6,
  .grid-item-xl-4-8,
  .grid-item-xl-5-10,
  .grid-item-xl-6-12 {
    width: 50% !important; }

  .grid-item-xl-1-3,
  .grid-item-xl-2-6,
  .grid-item-xl-3-9,
  .grid-item-xl-4-12 {
    width: 33.33333% !important; }

  .grid-item-xl-1-4,
  .grid-item-xl-2-8,
  .grid-item-xl-3-12 {
    width: 25% !important; }

  .grid-item-xl-1-5,
  .grid-item-xl-2-10 {
    width: 20% !important; }

  .grid-item-xl-1-6,
  .grid-item-xl-2-12 {
    width: 16.66667% !important; }

  .grid-item-xl-2-3,
  .grid-item-xl-4-6 {
    width: 66.66667% !important; }

  .grid-item-xl-3-4,
  .grid-item-xl-6-8 {
    width: 75% !important; }

  .grid-item-xl-2-5 {
    width: 40% !important; }

  .grid-item-xl-3-5 {
    width: 60% !important; }

  .grid-item-xl-4-5 {
    width: 80% !important; }

  .grid-item-xl-5-6 {
    width: 83.33333% !important; }

  .grid-item-xl-1-7 {
    width: 14.28571% !important; }

  .grid-item-xl-2-7 {
    width: 28.57143% !important; }

  .grid-item-xl-3-7 {
    width: 42.85714% !important; }

  .grid-item-xl-4-7 {
    width: 57.14286% !important; }

  .grid-item-xl-5-7 {
    width: 71.42857% !important; }

  .grid-item-xl-6-7 {
    width: 85.71429% !important; }

  .grid-item-xl-1-8 {
    width: 12.5% !important; }

  .grid-item-xl-3-8 {
    width: 37.5% !important; }

  .grid-item-xl-5-8 {
    width: 62.5% !important; }

  .grid-item-xl-7-8 {
    width: 87.5% !important; }

  .grid-item-xl-1-9 {
    width: 11.11111% !important; }

  .grid-item-xl-2-9 {
    width: 22.22222% !important; }

  .grid-item-xl-4-9 {
    width: 44.44444% !important; }

  .grid-item-xl-5-9 {
    width: 55.55556% !important; }

  .grid-item-xl-6-9 {
    width: 66.66667% !important; }

  .grid-item-xl-7-9 {
    width: 77.77778% !important; }

  .grid-item-xl-8-9 {
    width: 88.88889% !important; }

  .grid-item-xl-1-10 {
    width: 10% !important; }

  .grid-item-xl-3-10 {
    width: 30% !important; }

  .grid-item-xl-4-10 {
    width: 40% !important; }

  .grid-item-xl-6-10 {
    width: 60% !important; }

  .grid-item-xl-7-10 {
    width: 70% !important; }

  .grid-item-xl-8-10 {
    width: 80% !important; }

  .grid-item-xl-9-10 {
    width: 90% !important; }

  .grid-item-xl-1-11 {
    width: 9.09091% !important; }

  .grid-item-xl-2-11 {
    width: 18.18182% !important; }

  .grid-item-xl-3-11 {
    width: 27.27273% !important; }

  .grid-item-xl-4-11 {
    width: 36.36364% !important; }

  .grid-item-xl-5-11 {
    width: 45.45455% !important; }

  .grid-item-xl-6-11 {
    width: 54.54545% !important; }

  .grid-item-xl-7-11 {
    width: 63.63636% !important; }

  .grid-item-xl-8-11 {
    width: 72.72727% !important; }

  .grid-item-xl-9-11 {
    width: 81.81818% !important; }

  .grid-item-xl-10-11 {
    width: 90.90909% !important; }

  .grid-item-xl-1-12 {
    width: 8.33333% !important; }

  .grid-item-xl-5-12 {
    width: 41.66667% !important; }

  .grid-item-xl-7-12 {
    width: 58.33333% !important; }

  .grid-item-xl-8-12 {
    width: 66.66667% !important; }

  .grid-item-xl-9-12 {
    width: 75% !important; }

  .grid-item-xl-10-12 {
    width: 83.33333% !important; }

  .grid-item-xl-11-12 {
    width: 91.66667% !important; } }
